@{
    ViewBag.Title = "About";
}
<h2>About us</h2>
<h3>Beauty Salon</h3>

<p>We have everything you need. Don't hesitate to make an appointment.</p>
<p>You can make your appointment everyday from Monday to Saturday, from 9AM till 5PM</p>
