@{
    ViewBag.Title = "Contact Information";
}

<h2>@ViewBag.Title.</h2>


<address>
    Video Smilevski Bato 83/3<br />
    Skopje, Aerodrom<br />
    <abbr title="Phone">P: </abbr>
    +389 78 778 778
</address>
